.project {
    border: 1px solid black;
    height: 35rem;
    width: 30rem;
    border-radius: 1%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 45%;
    margin: 3rem 3rem;
}

.project-image {
    height: 100%;
    width: 100%;
}

.project-description {
    padding: 0.8rem;
    background-color: white;
}

.project-date {
    font-weight: bold;
}

.project-technologies {
    font-style: italic;
}
