.info {
    height: 50rem;
}

.info-imagecontainer {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-imagecontainer img {
    height: 70%;
    width: 26%;
    border-radius: 50%
}

.info-bio {
    height: 20rem;
    text-align: center;
}

.info-bio p{
    height: 12rem;
    width: 50%;
    font-size: 1.5rem;
    margin: 1.5rem auto;
}